/* Initial Setup */

:root{
    --main-color: #9ACD32;
    --secondary-color: #132a6c86;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

h1{
    font-size: 3em !important;
    text-transform: uppercase;
    font-weight: bold;
}

a{
    text-decoration: none;
}

p{
    color: #000000fa;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--main-color);
    position: relative;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


/* Main Style */
#header{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.left-side{
    width: 40%;
} 

.left-side > button:hover{
    background-color: white;
    border-color: transparent;
    color: var(--main-color);
    transition: all 0.01s ease-in-out;
}

.right-side{
    width: 40%;
    animation: fadeIn 5s; 
    
    
}


.right-side > img{
    width: 100%;
    border-radius: 20px;
    
}

.right-side {
    opacity: 0;
    transform: translateX(50px);
    animation: fade-in-right 0.5s ease-out forwards;
  }
  
  @keyframes fade-in-right {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .left-side {
    opacity: 0;
    transform: translateX(-50px);
    animation: fade-in-left 0.10s ease-out forwards;
  }
  
  @keyframes fade-in-left {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  #menu {
    opacity: 0;
    transform: translateY(-50px);
    animation: fade-in-top 0.3s ease-out forwards;
  }
  
  @keyframes fade-in-top {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* Menu Section */
#menu{
    position: absolute;
    top: 20px;
    left: 100px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.uil{
    padding: 10px 15px;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    
}

li{
    border-left: 5px solid transparent;
    margin-bottom: 10px;
    
}

/* .li:hover > i{
    background-color: none;
} */

li:hover > a > i{
    background-color: transparent;
    color: #fff;
    
}
li:hover{
    border-color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.home, .about, .projects, .contact, .message{
    display: none;
}



.uil-estate:hover + .home{
    display: inline-block;
    padding-right: 15px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.uil-smile:hover + .about{
    display: inline-block;
    padding-right: 15px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.uil-bag:hover + .projects{
    display: inline-block;
    padding-right: 15px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.uil-envelope-edit:hover + .contact{
    display: inline-block;
    padding-right: 15px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.uil-comments:hover + .message{
    display: inline-block;
    padding-right: 15px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.heading-home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff19;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    z-index: -5;
}
